* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.background {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgb(46, 57, 59, 0.8),
    rgba(232, 67, 147, 1)
  );
}
.container {
  display: flex;
  justify-content: center;
}
h1,
input {
  margin-top: 200px;
  margin-right: 30px;
}
.a {
  background-color: blueviolet;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  transition: 0.5s;
  margin-left: 650px;
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.wrapper div {
  width: 70px;
  height: 70px;
  border: 5px solid black;
  position: absolute;
}
.wrapper div:nth-child(1) {
  top: 10%;
  left: 25%;
  animation: square 5s linear infinite;
}
.wrapper div:nth-child(2) {
  top: 2%;
  left: 70%;
  animation: square 7s linear infinite;
}
.wrapper div:nth-child(3) {
  top: 6%;
  left: 10%;
  animation: square 4s linear infinite;
}
.wrapper div:nth-child(4) {
  top: 50%;
  left: 60%;
  animation: square 6s linear infinite;
}
.wrapper div:nth-child(5) {
  top: 25%;
  left: 20%;
  animation: square 8s linear infinite;
}
.wrapper div:nth-child(6) {
  top: 38%;
  left: 40%;
  animation: square 3s linear infinite;
}
.wrapper div:nth-child(7) {
  top: 45%;
  left: 54%;
  animation: square 9s linear infinite;
}
.wrapper div:nth-child(8) {
  top: 17%;
  left: 30%;
  animation: square 8s linear infinite;
}
.wrapper div:nth-child(9) {
  top: 40%;
  left: 84%;
  animation: square 9s linear infinite;
}
.wrapper div:nth-child(10) {
  top: 38%;
  left: 67%;
  animation: square 10s linear infinite;
}
@keyframes square {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.2) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}
